@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/assets/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#fireflies {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.copyright {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    font-size: .8em;
    color: rgba(255, 255, 255, .3);
    font-family: "Prompt", sans-serif;
}

.c-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.c-cont .c-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.c-cont .c-flex .ci-flex:last-child {
    position: relative;
    flex-grow: 1;
}

.c-cont .c-flex .ci-flex:first-child {
    position: relative;
    flex-shrink: 1;
}

.b-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3em;
    align-items: center;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(55px);
    -webkit-backdrop-filter: blur(55px);
    border-top: 3px solid #ff962e;
}

.b-bar button {
    border: none;
    background: none;
    color: #fff;
    padding: 0 2em;
    font-size: 1em;
    cursor: pointer;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 100%;
    transition: all .1s ease-in-out;
}

.b-bar button i {
    position: relative;
    font-size: 1.3em;
    top: 2px;
    margin-right: 2px;
}

.b-bar button:hover {
    color: #ff962e;
    text-shadow: 0 0 35px #ff962e;
    background: rgba(255, 255, 255, .1);
}

.c-body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.ci-body:first-child {
    flex-shrink: 1;
}

.ci-body:last-child {
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 3em;
}

.header button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: #fff;
    padding: 0 2em;
    font-size: 1em;
    cursor: pointer;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 100%;
    transition: all .1s ease-in-out;
}

.header .logo {
    position: relative;
    width: 8em;
    margin: 0 1em;
}

.header .logo img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.header button div {
    display: inline-block;
}

.header button div p {
    display: block;
}

.header button div p:first-child {
    color: #ff962e;
    text-shadow: 0 0 3px #ff962e;
}

.header button div p:last-child {
    font-weight: 400;
}

.header button:first-child {
    text-align: right;
}

.header button:last-child {
    text-align: left;
    padding-right: 0;
    padding-right: 7em;
}

.header button i {
    font-size: 3em;
    color: #ff962e;
    text-shadow: 0 0 7px #ff962e;
}

.header button:first-child i {
    margin-left: 18px;
}

.header button svg {
    position: relative;
    width: 3.5em;
    fill: #ff962e;
    filter: drop-shadow(0 0 3px #ff962e);
}

.header button:last-child svg {
    margin-right: 15px;
}

.hero-cont {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-title {
    position: absolute;
    top: calc(50% - 2.3em);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    color: #fff;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 2em;
}

.hero-title h1 span {
    color: #ff962e;
    text-shadow: 0 0 3px #ff962e;
}

.hero-title p {
    font-family: "Prompt", sans-serif;
    font-size: .5em !important;
    font-weight: 400 !important;
    color: rgba(255, 255, 255, .8);
}

.v-page {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 97%;
    height: 90%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, .4);
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 3px solid #ff962e;
    border-bottom: none;
    color: rgba(255, 255, 255, .9);
    font-family: "Prompt", sans-serif;
}

.v-page .content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.votes-c {
    position: relative;
    display: flex;
    gap: 1em;
    width: 100%;
    height: 100%;
}

.votes-c .flex-c:first-child {
    flex: 1;

}

.votes-c .flex-c:last-child {
    flex: 2;
}

.cont-box {
    position: relative;
    width: 100%;
    height: auto;
    padding: .8em 1.2em;
    border-radius: .4em;
    background: rgba(255, 255, 255, .1);
    margin-bottom: 1em;
}

.cont-box .title h2 i {
    color: #ff962e;
    margin-right: 3px;
}

.cont-box .title h2 {
    margin-bottom: .5em;
}

.cont-box p span {
    color: #ff962e;
}

.votes-c .vote-reward-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.votes-c .vote-reward-boxes .vote-reward {
    position: relative;
    padding: 1em 0;
    flex: 40%;
    text-align: center;
    background: rgba(0, 0, 0, .2);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: .4em;
}

.votes-c .vote-reward-boxes .vote-reward i {
    color: #ff962e;
    text-shadow: 0 0 3px #ff962e;
    font-size: 1.2em;
}

.votes-c .vote-reward-boxes .vote-reward h3 {
    font-weight: normal;
}

.votes-c .vote-link-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.votes-c .vote-link-boxes .vote-link {
    position: relative;
    display: flex;
    gap: 1em;
    flex-grow: 1;
    align-items: center;
    padding: 1em 1.5em;
    background: rgba(0, 0, 0, .2);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: .4em;
    transition: all .2 ease-in-out;
}

.votes-c .vote-link-boxes .vote-link:hover {
    background: rgba(255, 255, 255, .1);
}

.votes-c .vote-link-boxes .vote-link .text {
    flex-grow: 1;
}

.votes-c .vote-link-boxes .vote-link .icon {
    flex-shrink: 1;
}

.votes-c .vote-link-boxes .vote-link .text h3 {
    font-weight: 500;
}

.votes-c .vote-link-boxes .vote-link .text p {
    font-weight: 200;
    color: rgba(255, 255, 255, .6);
}

.votes-c .vote-link-boxes .vote-link .icon i {
    position: relative;
    font-size: 1.5em;
    top: 3px;
    color: #ff962e;
}

.votes-c .vote-link-boxes a {
    text-decoration: none;
    color: rgba(255, 255, 255, .9);
}

.vote-sv-name {
    font-size: .7em;
    color: rgba(255, 255, 255, .9) !important;
}

.votes-c {
    display: none !important;
}

.rules-c {
    position: relative;
    width: 100%;
    height: 100%;
}

.faq-c {
    display: none !important;
    position: relative;
    width: 100%;
    height: 100%;
}

.rules-boxes {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); /* Create two columns */
}

.rules-boxes .rules-box {
    position: relative;
    margin: 1em;
}

.cont-box.faq {
    top: -1em;
    background: none;
}

.faq-accordion {
    padding: 0 5em;
}

.acc_section {
    border: 1px solid rgba(255, 150, 46, .6) !important;
}

.acc_head {
    background: rgba(255, 255, 255, .1) !important;
    border-bottom: 0 !important;
    font-size: 1.3em !important;
    transition: all .1s ease-in-out;
    font-weight: 500 !important;
}

.acc_head i {
    position: relative;
    top: 0.5px;
    margin: 0 5px;
    color: rgb(255, 150, 46) !important;
}

.acc_head:hover {
    background: rgba(255, 150, 46, .6) !important;
}

.acc_head:hover i {
    color: #fff !important;
}

.acc_content {
    background: rgba(0, 0, 0, .2) !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.cont-box a {
    text-decoration: none;
    color: #ff962e;
}